<h1><%= title %></h1>
<div>
<img src="/images/perfil-git.png" alt="Juan Moreno Motta" >
<p>Profesional en desarrollo web, con mas de 10 años de experiencia en diferentes platamorfas y lenguajes</p>
<ul>
  <li>PHP/MySQL</li>
  <li>CMS Joomla</li>
  <li>AngularJS/Bootstrap</li>
  <li>ASP.NET/C#</li>
  <li>WCF C#</li>
  <li>ReactJS</li>
</ul>
</div>
